/*
    Author : Asad Shahabuddin
    File   : app.css
    Details: CSS for application - Uber SPA.
    Email  : shahabuddin.a@husky.neu.edu
*/

html, .asBody, .asContainerDiv, .asMapDiv
{
    height: 98%;
    margin: 0px;
    padding: 0px;
}

.asBody
{
    font-family: Arial;
    max-width: 100%;
}

/* Button : BEGIN */
.asButton
{
    background-color: #F2F2F2;
    border: 1px solid #D8D8D8;
    color: #585858;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

.asButton:hover
{
    border: 1px solid #BDBDBD;
    color: black;
}

.asRouteBtn
{
    background-color: #A4A4A4;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    color: #FAFAFA;
    font-size: 11px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.asRouteBtn:hover
{
    background-color: #088A08;
}
/* Button : BEGIN */

/* Division : BEGIN */
.asFooterDiv
{
    background-color: #FAFAFA; /* #E6E6E6 */
    border-top: 1px solid #ccc;
    clear: both;
    font-size: 13px;
    padding-bottom: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
}

.asMapDiv
{
    float: left;
    margin-right: 2%;
    width: 70%;
}

.asOptsDiv
{
    float: left;
    height: 300px;
    overflow: auto;
    width: 25%;
}

.asTitleDiv
{
    background-color: #E6E6E6;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.asUberDiv
{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

.asUberOptionDiv
{
    margin-bottom: 25px;
}
/* Division : END */

/* Element : BEGIN */
.asDropdownList
{
    color: #585858;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 4px;
    width: 115px;
}

.asDropdownList:hover
{
    border-color: #4d90fe;
}

.asH1
{
    color: #5D5D5D;
    font-weight: normal;
}

.asH2
{
    font-weight: normal;
}

.asH3
{
    font-weight: normal;
}

.asHr
{
    border: 0;
    border-top: 1px solid #E6E6E6;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

.asInputField
{
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 10px;
    padding-left: 5px;
    text-overflow: ellipsis;
    width: 300px;
}

.asMapInput
{
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Arial;
    font-size: 15px;
    height: 28px;
    margin-left: 12px;
    margin-top: 16px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

.asMapInput:focus
{
    border-color: #4d90fe;
}

.asSecondaryOptsP
{
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Override default scrollbars */
::-webkit-scrollbar
{
    width: 12px;
}
::-webkit-scrollbar-track
{
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb
{
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover
{
    background-color: #aaa;
}
/* Element : END */

/* Link : BEGIN */
.asBannerA
{
    color: #5D5D5D;
    font-weight: bold;
    margin-left: 2em;
}
/* Link : END */

/* Span : BEGIN */
.asAddressSpan
{
    color: #0B610B;
    font-size: 18px;
}

.asCarAttrSpan
{
    color: #585858;
    font-size: 13px;
    font-weight: bold;
}

.asCarTypeSpan
{
    color: #2E2E2E;
    font-size: 17px;
    font-weight: normal;
}

.asCarValueSpan
{
    color: #585858;
    font-size: 13px;
}

.asLabelSpan
{
    font-size: 15px;
    display: inline-block;
    text-align: right;
    width: 50px;
}

.asBoldSpan
{
    font-weight: bold;
}

.asFooterSpan1
{
    color: #A4A4A4;
}

.asFooterSpan2
{
    color: #6E6E6E;
}
/* Span : END */
/* End of app.css */